

body {
  background: rgb(44, 42, 42);


  
}

h1{
  -webkit-animation: fade-in 1s 0s forwards ease-out;
          animation: fade-in 1s 0s forwards ease-out;
  text-align: center;
  opacity: 0;
  color: rgb(167, 50, 50);
  font-size: 420%;

} 

.span1 {
    -webkit-animation: linea 1s 0.2s forwards ease-out;
          animation: linea 1s 0.2s forwards ease-out;

    border-left: 3px solid rgb(167, 50, 50);
    height:0;
    position: absolute;
    left: 33.9%;
    margin-left: -3px;
    top: 0;
  }

  .span2{
    -webkit-animation: linea 1s 0.2s forwards ease-out;
            animation: linea 1s 0.2s forwards ease-out;

            border-left: 3px solid rgb(167, 50, 50);
            height:0;
            position: absolute;
            right: 33.1%;
            margin-left: -3px;
            top: 0;
    }
/*
    .span3{
      animation: glow 15s linear infinite;
        padding:100% 1px 0px 1px;
        position:absolute;
          top: 0%;
          right: 67.4%;
        height:0;
        opacity: 0%;
        background:rgb(167, 50, 50) ;
        border-left: 1px solid rgb(167, 50, 50);
        box-shadow: 0 0 5px rgb(167, 50, 50),
              0 0 25px rgb(167, 50, 50),
              0 0 50px rgb(167, 50, 50),
              0 0 100px rgb(167, 50, 50);
    
     
      }
      .span4{ 
        animation: glow 15s linear infinite;
        padding:100% 1px 0px 1px;
        position:absolute;
          top: 0%;
          right: 34%;
        height:0;
        opacity: 0%;
        background:rgb(167, 50, 50) ;
        border-left: 1px solid rgb(167, 50, 50);
        box-shadow: 0 0 5px rgb(167, 50, 50),
              0 0 25px rgb(167, 50, 50),
              0 0 50px rgb(167, 50, 50),
              0 0 100px rgb(167, 50, 50);
        }
      
*/





/* Button styles */
.st {
    text-align: center;
    font-size: 6em;
    transition: 0.5s;
    -webkit-animation: fade-in 1s 0.7s forwards ease-out;
          animation: fade-in 1s 0.7s forwards ease-out;

    color: rgb(80, 80, 58);
    font-size: 250%;
    opacity: 0;
    
    -webkit-box-reflect: below 5px linear-gradient(transparent, #0004);
}

.st span{

    animation: ruyuan 5s 2.5s linear infinite;
  }
.st:hover{

  animation:stop 0 forwards ease-outs;
  opacity: 1;
  color: rgb(232, 233, 159);
  color: rgb(232, 233, 159);
              text-shadow: 0 0 10px rgb(232, 233, 159),
              0 0 20px rgb(232, 233, 159),
              0 0 40px rgb(232, 233, 159),
              0 0 80px rgb(232, 233, 159),
              0 0 160px rgb(232, 233, 159),
              0 0 400px rgb(232, 233, 159);
    
}




.st.hide{
  -webkit-animation: drop-card 1s forwards cubic-bezier(.54,-0.38,.34,1.42);
          animation: drop-card 1s forwards cubic-bezier(.54,-0.38,.34,1.42);
}



/* Animations */

@keyframes ruyuan{
  0%,18%,25%,50.1%,60%,65.1%,80%,90.1%,92%{
    color: rgb(80, 80, 58);
    text-shadow: none;
  }
  18.1%,20.1%, 30%,50%,60.1%,80.1%,90%,92.1%,100%
  {
              color: rgb(255, 255, 255);
              text-shadow: 0 0 10px rgb(232, 233, 159),
              0 0 20px rgb(232, 233, 159),
              0 0 40px rgb(232, 233, 159),
              0 0 80px rgb(232, 233, 159),
              0 0 160px rgb(232, 233, 159),
              0 0 400px rgb(232, 233, 159);}
}
@-webkit-keyframes stop {
  0%{
  opacity: 1;}

  100%{
    opacity: 1;

  }
}

  @keyframes stop{
    0%{
      opacity: 1;}
    100%{
      opacity: 1;
  
    }
  
}


@keyframes glow {
  40% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 50%;
  }
}


@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes show-detail-container {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes show-detail-container {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes pop-in {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1)
  }
}

@keyframes pop-in {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1)
  }
}

@-webkit-keyframes drop-card {
  100% {
    bottom: -100%;
    
    opacity: 0;
  }
}

@keyframes drop-card {
  100% {
    bottom: -100%;
    opacity: 0;
  }
}
@keyframes linea {
  0% {
    opacity: 30%;
    height: 0%;

  }
  100% {
    height: 100%;
    opacity: 100%;
  }
  
}

@keyframes lineb {
  0% {
    opacity: 100%;

  }
  100% {
    opacity: 20%;
  }
  
}